.loader {position:absolute; top:50%; left:50%; transform:translate(-50%,-50%);}
.loader_text {font-size:30px; text-align:center; padding:20px 0;}
.movies {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 80%;
    margin: auto;
    padding: 50px 0;
}