body {
    background-color:#05141f;
    color:#fff;
}

.movie {
    position: relative;
    width:30%; 
    min-height:240px;
    margin:40px 0;
    padding-left:190px;
    background:#3c3c3c52;
    box-shadow: 0 6px 20px -5px rgb(165 165 165 / 25%), 0 8px 16px -8px rgb(144 144 144 / 30%), 0 -6px 16px -6px rgb(255 255 255 / 3%);
    transition:all 0.2s ease-out;
}
.movie:hover {
    opacity:0.8;
}

.movie img {
    position:absolute;
    left:20px;
    top:-20px;
    width:150px;
}

.movie__title {
    font-size:30px;
    margin-bottom:5px;
}
.movie__year {
    font-size:12px;
    margin: 0 0 5px 0;
    color:#a5a5a5;
}
.genres {
    display:flex;
    list-style: none;
    font-size:12px;
    margin: 0 0 5px 0;
    padding:0;
    color:#a5a5a5;
}
.genres li {
    margin-right:5px;
}

.movie__summary {
    font-size:14px;

}

@media screen and (max-width:1400px) {
    .movie {
        width:100%; 
    }
}